.login {
  width: 100%;
  height: 100%;
  background: url("../../assets/img/lgbg.jpg") center;
  background-size: cover;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  .ai {
    width: 670px;
    height: 396px;
    background-position: center;
    background-size: cover;
    margin-right: 50px;
  }

  .loginInput {
    margin-left: 50px;
    width: 322px;
    height: 350px;
    //background-color: #666666;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  img {
    width: 60%;
    margin: 18px 0;
  }

  .loginForm {
    width: 100%;
    height: 280px;
    border: 1px solid #FFFFFF;
    padding: 30px 20px 20px;
    background: rgba(255, 255, 255, 0.1);

    :global {
      .ant-form-item {
        margin-bottom: 15px !important;
      }
    }

    .button {
      width: 100%;
    }

  }
}