.FixedTitleCard {
  position: relative;
  height: calc(100vh - 100px);
  background-color: white;
  overflow: hidden;

  .title {
    width: 100%;
    padding: 10px 40px;
    height: 60px;
    line-height: 40px;
    border-bottom: 1px solid #cccccc;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    vertical-align: center;
    align-items: center;
  }

  .closeaction {
    font-size: 26px;
    cursor: pointer;
  }

  .closeaction:hover {
    color: #1890ff;
  }


  .body {
    padding: 10px 35px;
    height: calc(100vh - 160px);
    overflow-y: auto;
  }
}