.flatChart {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 100%;
  user-select: none;
  overflow: hidden;
  flex-wrap: nowrap;

  .tools {
    width: 170px;
    //background-color: #eaedf1;
    //overflow-y: auto;
    //overflow-x: hidden;
    overflow: hidden;
    height: 100%;

    :global {
      .ant-menu-item {
        height: 20px;
        line-height: 20px;
        padding-left: 20px !important;
      }

      .ant-menu-submenu-title {
        padding-left: 2px !important;
        margin-left: 2px !important;
      }
    }
  }

  .flatContent {
    flex: 1;
    min-width: 300px;
    height: 100%;
    min-height: 400px;
    position: relative;
    overflow: hidden;
    border: 1px solid #1890ff;

    :global {
      .appendBox {
        font-size: 10px;
        position: absolute;
        height: 60px;
        width: 60px;
        border: 1px solid #1890ff;
        border-radius: 2px;
        line-height: 20px;
        background-color: #e1efff;
        z-index: 0;

        span {
          padding-left: 10px;
          text-align: left;
        }

        p {
          text-align: center;
        }
      }

      .data {
        background-color: #ffe4de;
        border-color: #f8c6bb;

      }
    }
  }

  .info {
    width: 300px;
    height: 100%;
    // background-color: #eaedf1;

    :global {
      .ant-checkbox-wrapper {
        margin-left: 0px !important;
      }

      .ant-row {
        margin-bottom: 5px;
      }
    }
  }
}