.container {
  width: 115px;
  height: 115px;
  color: white;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.0);
  opacity: 0.9;
  cursor: pointer;
  text-align: center;
  margin: 5px;
  border-radius: 5px;
  overflow: hidden;

}

.icon {
  margin: 20px;
  font-size: 40px;
  border-radius: 50%;
}

.container:hover {
  opacity: 1;
  box-shadow: 0 0 8px rgba(234, 234, 234, 0.6);


  .icon{
    transform: scale(1.2, 1.2);
  }
  .modelName {
    color: #ff507a;
  }
}

.modelName {
  font-size: 14px;
  font-weight: 600;
  color: white;
  letter-spacing: 1px;
}




