.BasicDataForm {
  padding: 20px;

  :global {
    .ant-form-item {
      display: flex;
      flex-direction: row;
      margin-bottom: 5px;
    }

    .ant-form-item-label {
      width: 120px;
    }

    .ant-form-item-control-wrapper {
      flex: 1;
    }

    .ant-switch {
      background-color: #ff507a !important;
    }

    .ant-switch-checked {
      background-color: #1890ff !important;
    }
  }


}