.container {
  height: 70px;
  margin: 5px 10px;
  color: white;
  line-height: 70px;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.2);
  //border: 1px solid rgba(234, 234, 234, 0.1);
  border: 1px solid rgba(234, 234, 234, 0.0);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  opacity: 0.6;
  cursor: pointer;

}


.container:hover {
  opacity: 1;
  box-shadow: 0 0 8px rgba(234, 234, 234, 0.6);
}




