.layerContent {
  .mainContent {
    height: 100%;

    :global {
      .ant-card-body {
        height: 100%;
      }
    }
  }

  .logo {
    border-radius: 4px;
    text-align: center;
    line-height: 50px;
    height: 50px;
    background: linear-gradient(to right, red , yellow);
    margin: 8px;
    color: white;
    font-weight: bold;
    font-family: "Microsoft Yahei";
    i:nth-child(1){color: yellow;}
    i:nth-child(2){color: #f4cbff;}
    i:nth-child(3){color: #41fff8;}
    i:nth-child(4){color: #a1ff87;}
    i:nth-child(5){color: #dc1eff;}
    i:nth-child(6){color: #ff4174;}
    i:nth-child(7){color: red;}

  }
}