.conainer {
  width: 100%;
  //height: 100%;
  height: 4000px;
  //background: #1C4FA8 url('../assets/img/greywedgelateral.png') no-repeat fixed bottom right;
  //padding: 10px 40px;
  .trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color .3s;
  }

  .trigger:hover {
    color: #1890ff;
  }

  .logo {
    height: 32px;
    margin: 16px 10px;
    color: #ffffff;
    line-height: 32px;
    font-size: 19px;
    overflow: hidden;

    img {
      width: 60px;
    }
  }
}

.title {
  text-align: center;
  font-size: 29px;
  font-weight: 800;
  color: #ffffff;
}

