
.filter {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 18px;

  i:hover {

    cursor: pointer;
    color: #ff507a !important;
  }

  :global {
    .anticon {
      margin-right: 15px;
      font-size: 25px;
      color: deepskyblue;
    }

  }
}