.PatientCard {
  height: 100%;
  overflow-y: auto;

  .oneContent {


    .title {
      font-size: 16px;
      font-weight: bold;
    }

    .content {
      padding-left: 15px;
    }
  }

  :global {
    .ant-card-body {
      overflow-y: auto;
      padding: 10px 15px
    }
  }


  .txt {
    text-indent: 25px;
   // color: #1890ff;
    font-size: 14px;
  }


}
