.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  color: white;
  margin: 15px;
  flex-wrap:wrap;
}

.title {
  color: white;
  font-size: 25px;
  text-align: center;
  margin-bottom: 20px;
  font-family: "Microsoft YaHei UI";
}

.Homepage {
  user-select: none;
}

.classTitle {
  font-size: 18px;
  color: white;
  font-weight: bold;
  margin: 10px 0;
  text-align: left;
}