.card {
  height: calc(100vh - 100px);
  overflow: auto;

  :global {
    .anticon {
      font-size: 26px;
      cursor: pointer;
    }

    .anticon:hover {
      color: #1890ff;
    }

    .ant-card-body {
      padding-bottom: 0;
    }

    .ant-card-head-title, .ant-card-extra {
      padding: 10px 0;
    }
    .ant-card-head{
      min-height: 30px;
    }
  }
}