.showDataBox {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 600px;

}
.showType{
  width: 200px;
  .icon {
    overflow: hidden;
    margin: 5px 0 5px;
    font-size: 20px;
    float: left;

    i {
      margin-right: 20px;
    }

    i:hover {
      color: #ff507a;
    }

  }
}
.showContent{
  flex: 1;
  min-height: 400px;
  height: 100%;

}


